/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.Text{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5rem;
}

.TextEditor{
  margin:1.5rem;
}
